@font-face {
    font-family: 'nunito';
    src: url('../font/Nunito-Black.ttf') format('truetype');
    /*font-family: 'nunito', Arial, sans-serif;*/
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../font/LEMONMILK-Light.otf') format('truetype');
    /*font-family: 'LemonMilk', Helvetica, sans-serif;*/
}

*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'nunito', Arial, sans-serif;
}


/* Aqui empieza el codigo para el header */
header {
    width: 100%;
    height: 145px;
    position: fixed;
    z-index: 100;
    background-color: rgba(225, 225, 225, 0.9);
}

body{
	background-color: white;
}


.container__header {
	max-width: 1700px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;

}


.logo{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.logo img {
	width: 200px;
}

.menu {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.menu nav {
	margin: 0px 20px;
}

.menu nav ul {
	display: flex;
}


.menu nav ul li {
	list-style: none;
	margin: 25px 25px;
}


/*--Aqui se controla los botones del envabezado--*/
	
.menu nav ul li a {
	color: rgb(0, 103, 165);
	font-size: 25px;
	position: relative;
}

.menu nav ul li a:hover{
	color: rgb(90, 174, 243);
	text-decoration: underline rgb(90, 174, 243);
}

/*-------------------------------------------*/

.menu .socialMedia {
	margin: 0px 0px;
}

.menu .socialMedia a {
	margin: 0px 4px;
}



/*--Aqui se controla los botones del envabezado--*/
	
.menu nav ul li a {
	color: rgb(0, 103, 165);
	font-size: 25px;
	position: relative;
}

.menu nav ul li a:hover{
	color: rgb(90, 174, 243);
	text-decoration: underline rgb(90, 174, 243);
}

/*-------------------------------------------*/
/*-------------------------------------------*/

.menu .socialMedia {
	margin: 0px 0px;
}

.menu .socialMedia a {
	margin: 0px 4px;
}

/*--modificar la imagen de social media al color deseado cuando el maus esta sobre el*/
.menu .socialMedia img{
	width: 50px;
	z-index: 2;
}

.socialMedia img {
    filter: grayscale(100%); /* Convierte la imagen en blanco y negro */
    transition: filter 0.5s ease; /* Aplica una transición suave */
    text-decoration: none;
}

.socialMedia:hover img {
    filter: hue-rotate(180deg); /* Cambia el color a azul al pasar el ratón */
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------------*/

.container__cover{
	padding-top: 120px;
	padding-bottom: 100px;
}

/*-----------------------------------------------------------------------------------*/

/*---Aqui empieza el cuadro de chat---*/
#chat_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establecer la altura del contenedor al 100% del viewport height */
}

#prompt {
    text-align: center;
    width: 80%; /* Ancho del cuadro de entrada */
    padding: 10px; /* Espaciado interno del cuadro de entrada */
    margin: 10px 0; /* Margen alrededor del cuadro de entrada */
    border: 1px solid #ccc; /* Borde del cuadro de entrada */
    border-radius: 5px; /* Radio de borde para esquinas redondeadas */
    font-size: 16px; /* Tamaño de fuente del texto en el cuadro de entrada */
}

#generate {
    padding: 10px 20px; /* Espaciado interno del botón */
    margin: 10px 0; /* Margen alrededor del botón */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Radio de borde para esquinas redondeadas */
    background-color: #4caf50; /* Color de fondo del botón */
    color: white; /* Color del texto en el botón */
    font-size: 16px; /* Tamaño de fuente del texto en el botón */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
}

#generate:hover {
    background-color: #45a049;
}

/* Estilos para el cuadro de texto del chat */
#chatbox {
    width: 80%; /* Ancho del cuadro de texto */
    height: 300px; /* Altura del cuadro de texto */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si el contenido es demasiado grande */
    border: 1px solid #ccc; /* Borde del cuadro de texto */
    border-radius: 5px; /* Radio de borde para esquinas redondeadas */
    padding: 10px; /* Espaciado interno del cuadro de texto */
    margin-bottom: 20px; /* Margen en la parte inferior del cuadro de texto */
    font-size: 14px; /* Tamaño de fuente del texto en el cuadro de texto */
}

/* Estilos para los mensajes del chat */
.message {
    margin-bottom: 10px; /* Margen en la parte inferior de cada mensaje */
}

/* Estilos para los mensajes del chat del ChatBot */
.bot-message {
    color: #0084ff; /* Color del texto para los mensajes del ChatBot */
}

/* Estilos para los mensajes del usuario */
.user-message {
    color: #4caf50; /* Color del texto para los mensajes del usuario */
}

/*---Aqui acaba lo del chat---*/

/*--SISTEMA RESPONSIVO--*/
/* Estilos para tamaños de pantalla más grandes */
@media (min-width: 1200px) {
    .menu {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .logo img {
        max-width: 200px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        margin: 0px 20px;
    }

    .menu nav ul li {
        margin: 20px 20px;
    }

    /* Otros estilos específicos para tamaños de pantalla más grandes */
}


/* Estilos para tamaños de pantalla más pequeños (menú hamburguesa) */
@media (max-width: 1200px) {
    .menu {
        flex-direction: column; /* Coloca los elementos en columna */
        text-align: center; /* Centra el texto */
    }
    .menu nav ul {
    flex-direction: column;
    }

    .logo img {
        max-width: 200px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        display: none; /* Oculta el menú de navegación */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        background: #333;
        height: 4px;
        width: 30px;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* Estilos para mostrar el menú desplegable */
    .menu nav.show-menu {
        display: flex;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .menu nav.show-menu ul {
        padding: 20px;
    }

    .menu nav.show-menu ul li {
        list-style: none;
        margin: 10px 0;
    }
}
/* -------------------------------------- */


.cerrar-sesion {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    background-color: red; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px 20px; /* Ajusta el relleno */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200; /* Asegura que el botón esté sobre otros elementos */
}

.cerrar-sesion:hover {
    background-color: darkred; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}


/*----NOTAS PARA EL QUE REVISE MI CODIGO Y PARA MI----

Reciclar el css ahorra mucho tiempo pero siempre se me van cosas repetidas
copie el anterior css por que requiero agretgar unos estilos extra sin afectar
el estilo de el loby principal.
                                          
                                          --ATTM: Francisco josue--

PD:guardad el css y recargar cuando no se aplique correctamente y si no funciona poner un
   nombre diferente y llamarlo correctamente en el html
PD:Las imagenes usadas son muy pesadas hay que vajarles la resolcion manualmente 3k es demaciado

--COMENTARIO NUMERO 4--
huy estoy aprendiendo mucho con esto, aunque estoy reconsiderando usar firebase...
*/
