@font-face {
    font-family: 'nunito';
    src: url('../font/Nunito-Black.ttf') format('truetype');
    /*font-family: 'nunito', Arial, sans-serif;*/
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../font/LEMONMILK-Light.otf') format('truetype');
    /*font-family: 'LemonMilk', Helvetica, sans-serif;*/
}

*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'nunito', Arial, sans-serif;
}

/* Aqui empieza el codigo para el header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: rgba(225, 225, 225, 0.9);
}

body{
	background-color: white;
}


.container__header {
	max-width: 1700px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;

}


.logo{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.logo img {
	max-width: 150px;
}

.menu {
	margin: 0;
	display: flex;
	align-items: center;
}

.menu nav {
	margin: 0px 20px;
}

.menu nav ul {
	display: flex;
}


.menu nav ul li {
	list-style: none;
	margin: 15px 15px;
}


/*--Aqui se controla los botones del encabezado--*/
	
.menu nav ul li a {
	color: black;
	font-size: 15px;
	position: relative;
}

.menu nav ul li a:hover{
	color: rgb(243, 159, 90);
	text-decoration: underline rgb(243, 159, 90);;
}

/*-------------------------------------------*/

.menu .socialMedia {
	margin: 0px 0px;
}

.menu .socialMedia a {
	margin: 0px 4px;
}

/*--modificar la imagen de social media al color deseado cuando el maus esta sobre el*/
.menu .socialMedia img{
	width: 50px;
	z-index: 2;
}

.socialMedia img {
    filter: grayscale(100%); /* Convierte la imagen en blanco y negro */
    transition: filter 0.5s ease; /* Aplica una transición suave */
    text-decoration: none;
}

.socialMedia:hover img {
    filter: hue-rotate(180deg); /* Cambia el color a azul al pasar el ratón */
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------*/

.container__cover{
    padding-top: 80px;
    background-color: white;
}
.cover{
	max-width: 100%;
	align-items: center;
}

.img_cover{
	width: 100%;
	height: 600px;
	overflow: hidden;
	display: flex;
	align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.img_cover img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

/*Aqui se ara el estilo de los botones de Proximo destino*/

.text_head{
	margin-top: 30px;
	margin-left: 20px;
}

/* Aplica un display grid al contenedor .content_img */
.content_img {
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta automáticamente las columnas */
  	gap: 8px; /* Espacio entre elementos */
  	justify-items: center; /* Centra los elementos horizontalmente */
  	align-items: center; /* Centra los elementos verticalmente */
  	margin: 10px;
}

/* Estilo para las imágenes */
.box_img {
	display: flex;
  	align-items: center; /* Centra los elementos horizontalmente */
  	justify-content: center; /* Centra los elementos verticalmente */
  	text-align: center; /* Centra el texto horizontalmente */
  	margin: 5px;
}

.box_img img {
  	border-radius: 10px; /* Aplica un borde redondeado */
  	max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    width: 400px; /* Ajusta el ancho según las necesidades */
    height: 300px; /* Ajusta el alto según las necesidades */
    object-fit: cover;
}

.box_img:hover img {
  filter: brightness(0.7); /* Oscurece la imagen al 70% */
  transition: filter 0.3s ease; /* Aplica una transición suave de 0.3 segundos */
}

.box_img a{
	font-size: 20px; /*aumentar el tamaño de la fuente del boton*/
}

/* Estilo para los botones */
.btn_zona {
	position: absolute;
  	background-color: orange;
  	opacity: 0.9;
  	border-radius: 10px;
  	padding: 5px 10px;
  	cursor: pointer;
}

/*-------------------------------------------------------*/

/* Estilos CSS para el carrusel */
.carousel-container {
    position: relative;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
	display: flex;
	flex-direction: row;
    transition: transform 0.5s ease;
    align-items: flex-start;
    z-index: 2;
}


.carousel li {
	list-style: none;
    min-width: 33.33%; /* Cada elemento ocupa el 100% del contenedor */
    margin: 0px; /* Espacio entre imágenes*/
    padding: 0;
}

/* Botones de navegación */
.btn_carrucel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#prevBtn {
    left: -10px;
    z-index: 100;
}

#nextBtn {
    right: -10px;
    z-index: 100;
}

/*--SISTEMA RESPONSIVO--*/
/* Estilos para tamaños de pantalla más grandes */
@media (min-width: 1200px) {
    .menu {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .container__cover{
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .logo img {
        max-width: 150px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        margin: 10px;
    }

    .menu nav ul li {
        margin: 10px 10px;
    }

    /* Otros estilos específicos para tamaños de pantalla más grandes */
}


/* Estilos para tamaños de pantalla más pequeños (menú hamburguesa) */
@media (max-width: 1199px) {
    .menu {
        flex-direction: column; /* Coloca los elementos en columna */
        text-align: center; /* Centra el texto */
    }
    .container__cover{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .menu nav ul {
        flex-direction: column;
    }

    .logo img {
        max-width: 125px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        display: none; /* Oculta el menú de navegación */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0;
    }

    .bar {
        background: rgb(0, 103, 165);
        height: 4px;
        width: 30px;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* Estilos para mostrar el menú desplegable */
    .menu nav.show-menu {
        display: flex;
        flex-direction: column;
        background: rgba(225, 225, 225, 0.9);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .menu nav.show-menu ul {
        padding: 20px;
    }

    .menu nav.show-menu ul li {
        list-style: none;
        margin: 10px 0;
    }
}
/* -------------------------------------- */

/* Estilos CSS para el footer */
.footer {
    background-color: #333; /* Cambia esto al color de fondo que desees */
    color: white; /* Cambia esto al color del texto que desees */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.imagotipo {
    order: 1;
}

.imagotipo img {
    width: 100px; /* Establece el ancho del imagotipo según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    max-width: 100%; /* Evita que el imagotipo se haga más grande que su tamaño original */
}

.social-icons {
    order: 3;
    display: flex;
    gap: 10px;
}

.location-text {
    order: 2;
    text-align: center;
}

.copyright,
.menu {
    order: 4;
    text-align: center;
}

/* Estilos para los iconos de redes sociales */
.social-icons img {
    width: 30px; /* Ajusta el tamaño de los iconos según tus necesidades */
    height: auto;
}

/* Estilos para los enlaces del menú */
.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/*-------------------------*/



.cerrar-sesion {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    background-color: red; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px 20px; /* Ajusta el relleno */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200; /* Asegura que el botón esté sobre otros elementos */
}

.cerrar-sesion:hover {
    background-color: darkred; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}


/*----NOTAS PARA EL QUE REVISE MI CODIGO Y PARA MI----

la etiqueta curso y border-radius pueden ayudar a que todo se sienta mejor
uuff hacer esta parte fue de lo mas complicado en cuanto a estilos

                                          
                                          --ATTM: Francisco josue--

PD:guardad el css y recargar cuando no se aplique correctamente y si no funciona poner un
   nombre diferente y llamarlo correctamente en el html
PD:Las imagenes usadas son muy pesadas hay que vajarles la resolcion manualmente

--COMENTARIO NUMERO 3--

*/