*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body{
  /* La imagen colocada es un placeolder ya que no tengo un fondo listo para usar*/
  background-image: url(../IMG/img6.jpeg);
  /*background: linear-gradient(to bottom, #6ab7f5, #fff); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body:before {
  /* Agregar el gradiente sobre la imagen */
  content: "";
  width: 100%;
  min-height: 150vh; /* Aumenta este valor para cubrir más la pantalla */
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, orange, skyblue);
  opacity: 0.7;
  z-index: -1;
}



main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
}

.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

/*---ESTILOS DE LA CAJA TRASERA---*/
.caja__trasera{
  width: 100 %;
  padding: 10px 20px ;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 120, 255, 0.5);
  border-radius: 10px;
}

.caja__trasera div{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.caja__trasera div p{
  font-size: 15px;
}

.caja__trasera div p, 
.caja__trasera div button{
  margin-top: 30px;
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

/*--ANIMACION BUTTON--*/
.caja__trasera div button{
  padding: 10px 40px;
  border: 2px solid white;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover{
  background-color: white;
  color: black;
}

/*-------------------------------------------------------------*/


/*----AQUI SE COMIENSA A TRABAJAR EN LOS FORMULARIOS----*/
.contenedor__login-registro{
  width: 100%;
  display:flex;
  align-items: center;
  max-width: 380px;
  position: relative;
  top: -180px;
  left: 10px;
  /* ---Correccion de la animacion del contenedor login y registro--- */
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


/*--aqui se puede controlar el tamaño de los recuadros superiores--*/
.contenedor__login-registro form{
  width: 100%;
  padding: 80px 20px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.contenedor__login-registro form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}


.contenedor__login-registro form a{
  /*---Correccion de color de hiper-elase---*/
  color: black;
}

.contenedor__login-registro form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}


.contenedor__login-registro form button{
  padding: 10px 46px;
  margin-top: 46px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  color: white;
  cursor: pointer;
  outline: none;
}

.formulario__login{
  opacity: 1;
  display: block;
}

.formulario__registro{
  display: none;
}
/*----control del sistema de terminos y registros----*/
.terminos h3{
  margin-top: 11px;
  font-size: 10px;
  color: grey;
}

/*------------------------------------------------------*/



/*--SISTEMA RESPONSIVO--*/

@media screen and (max-width: 850px){
  main{
    margin-top: 50px;
  }

  .caja__trasera{
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div{
    margin: 0px;
    position: absolute;
  }

  /*----Formularios----*/
  .contenedor__login-registro{
    top: -10px;
    left: 0px;
    margin: auto;
  }

  .contenedor__login-registro form{
    position: relative;

  }
}

/*------------------------------------------------------*/
