@font-face {
    font-family: 'nunito';
    src: url('../../../font/Nunito-Black.ttf') format('truetype');
    /*font-family: 'nunito', Arial, sans-serif;*/
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../../../font/LEMONMILK-Light.otf') format('truetype');
    /*font-family: 'LemonMilk', Helvetica, sans-serif;*/
}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'nunito', Arial, sans-serif;
}

/* Aqui comienza el header */
/* Aqui empieza el codigo para el header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: rgba(225, 225, 225, 0.9);
}

body{
	background-color: white;
}


.container__header {
	max-width: 1700px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;

}


.logo{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.logo img {
	max-width: 150px;
}

.menu {
	margin: 0;
	display: flex;
	align-items: center;
}

.menu nav {
	margin: 0px 20px;
}

.menu nav ul {
	display: flex;
}


.menu nav ul li {
	list-style: none;
	margin: 10px 10px;
}


/*--Aqui se controla los botones del envabezado--*/

.menu nav ul li a {
	color: black;
	font-size: 15px;
    margin: 0 10px;
	position: relative;
    font-weight: normal;
}

.menu nav ul li a:hover{
	color: rgb(243, 159, 90);
	text-decoration: underline rgb(243, 159, 90);;
}

/*-------------------------------------------*/

.menu .socialMedia {
	margin: 0px 0px;
}

.menu .socialMedia a {
	margin: 0px 4px;
}

/*-------------------------------------------*/

/*--modificar la imagen de social media al color deseado cuando el maus esta sobre el*/
.menu .socialMedia img{
	width: 50px;
	z-index: 2;
}

.socialMedia img {
    filter: grayscale(100%); /* Convierte la imagen en blanco y negro */
    transition: filter 0.5s ease; /* Aplica una transición suave */
    text-decoration: none;
}

.socialMedia:hover img {
    filter: hue-rotate(180deg); /* Cambia el color a azul al pasar el ratón */
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------*/

.container__cover{
	padding-top: 80px;
	padding-bottom: 100px;
}
.cover{
	max-width: 100%;
	align-items: center;
}
/*Aqui se ara el estilo de los botones de Proximo destino*/

.text_head{
  margin-top: 30px;
  margin-left: 20px;
}

/* Establecer el estilo de los botones que controlan el filtro*/
.filter-button {
    background-color: #0074cc;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
  }
  
  /* Establecer el estilo del botón activo */
  .filter-button.active {
    background-color: #0056a8;
  }
  
  .container__header {
    max-width: 1700px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  
  }

/* Aplica un display grid al contenedor .content_img */
.content_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 8px; /* Espacio entre elementos */
    justify-items: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin: 10px;
}

/* Estilo para las imágenes */
.box_img {
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 5px;
}

.box_img img {
  border-radius: 10px; /* Aplica un borde redondeado */
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  width: 400px; /* Ajusta el ancho según las necesidades */
  height: 300px; /* Ajusta el alto según las necesidades */
}

.box_img:hover img {
  filter: brightness(0.7); /* Oscurece la imagen al 70% */
  transition: filter 0.3s ease; /* Aplica una transición suave de 0.3 segundos */
}

.box_img a{
  font-size: 20px; /*aumentar el tamaño de la fuente del boton*/
}

/* Estilo para los botones */
.btn_zona {
  position: absolute;
    background-color: orange;
    opacity: 0.9;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

footer{
  padding-top: 0px;
  padding: 200px;
  text-align: center;
  color: green;
  background-color: blue;
  margin-top: 0px;
}

footer h1{
  color: white;
}

footer h2{
  color: white;
}


/*--SISTEMA RESPONSIVO--*/
/* Estilos para tamaños de pantalla más grandes */
@media (min-width: 1200px) {
    .menu {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .container__cover{
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .logo img {
        max-width: 150px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        margin: 10px;
    }

    .menu nav ul li {
        margin: 10px 10px;
    }

    /* Otros estilos específicos para tamaños de pantalla más grandes */
}


/* Estilos para tamaños de pantalla más pequeños (menú hamburguesa) */
@media (max-width: 1199px) {
    .menu {
        flex-direction: column; /* Coloca los elementos en columna */
        text-align: center; /* Centra el texto */
    }
    .container__cover{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .menu nav ul {
        flex-direction: column;
    }

    .logo img {
        max-width: 125px; /* Ajusta el tamaño máximo del logotipo */
    }

    .menu nav {
        display: none; /* Oculta el menú de navegación */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        background: rgb(0, 103, 165);
        height: 4px;
        width: 30px;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* Estilos para mostrar el menú desplegable */
    .menu nav.show-menu {
        display: flex;
        flex-direction: column;
        background: rgba(225, 225, 225, 0.9);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .menu nav.show-menu ul {
        padding: 20px;
    }

    .menu nav.show-menu ul li {
        list-style: none;
        margin: 10px 0;
    }
}
/* -------------------------------------- */
.cerrar-sesion {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    background-color: red; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px 20px; /* Ajusta el relleno */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200; /* Asegura que el botón esté sobre otros elementos */
}

.cerrar-sesion:hover {
    background-color: darkred; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}


/*----NOTAS PARA EL QUE REVISE MI CODIGO Y PARA MI----

la etiqueta curso y border-radius pueden ayudar a que todo se sienta mejor
uuff hacer esta parte fue de lo mas complicado en cuanto a estilos

                                          
                                          --ATTM: Francisco josue--

PD:guardad el css y recargar cuando no se aplique correctamente y si no funciona poner un
   nombre diferente y llamarlo correctamente en el html
PD:Las imagenes usadas son muy pesadas hay que vajarles la resolcion manualmente

--COMENTARIO NUMERO 3--

*/

/*Estan feos yo se pero asi que quede luego los corrijo*/
/* Estilo para el título "Filtro de Hoteles" */
h1 {
    font-family: 'LemonMilk', sans-serif;
    text-align: center;
    font-size: 36px; /* Tamaño del título */
    color: #0C60A5; /* Color Azul Persa Medio */
    margin-bottom: 20px;
}

/* Estilo para las etiquetas y controles de entrada */
label {
    display: block;
    font-size: 20px; /* Tamaño de fuente para etiquetas */
    margin-top: 10px;
    color: #5AAEF3; /* Color Blue Jeans */
}

select, input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background: #F59F59; /* Color Sandy Brown */
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/* Estilo para los botones de filtro */
#filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    background-color: #5AAEF3; /* Color Blue Jeans */
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
}

.button-container button.active {
    background-color: #0C60A5; /* Color Azul Persa Medio */
}

/* Hover sobre los botones de filtro */
.button-container button:hover {
    background-color: #F59F59; /* Color Sandy Brown */
}
